/* Base Styles */

body {
  background-color: tan;
}

* {
  box-sizing: border-box;
}

h1, p {
  font-family: 'Merriweather', serif;
}

h1 {
  text-align: center;
  margin-bottom: 5%;
}

.row {
  width: 100%;
}

.column {
  float: left;
  border: 1px solid black;
}

.column p {
  text-align: justify;
  padding: 3%;
}

.column p:nth-child(2) {
  margin-top: 10%;
}

.section-header-wrap {
  position: relative;
}

.section-header {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: yellow;
  border: 1px solid black;
}

.header-1 {
  background-color: #ff9800;
}

.header-2 {
  background-color: #4CAF50;
}

.header-3 {
  background-color: #8B0000;
}

.column-1 {
  background-color: #917B6C;
}

.column-2 {
  background-color: #C1BBB7;
}

.column-3 {
  background-color: #65564B;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .column {
    float: unset;
    margin-bottom: 6%;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .column-1, .column-2 {
    width: 44%;
    margin: 0 3% 5%;
  }
  .column-3 {
    clear: both;
    margin: 0 3%;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .column {
    width: 29.33%;
    margin: 0 2%;
  }
}
